/* sidebar original design by Florin Cornea @ https://codepen.io/FlorinCornea/pen/YzGeprR*/

:root {
  --white: #fff;
  --black: #181818;
  --yellow: #fdb91d;
  --orange: #fc6e45;
  --light-gray: #e9e9e9;
  --mid-gray: #ddd;
  --dark-gray: #595a5c;
}

aside {
  color: var(--black);
  width: 100%;
  padding-left: 10px;
  height: 100%;
  background: linear-gradient(
    30deg,
    rgba(253, 185, 29, 1) 50%,
    rgba(252, 110, 69, 1) 100%
  );
  border-top-right-radius: 80px;
}

aside a,
.menu-button {
  font-size: 13px;
  color: var(--black);
  font-weight: 500;
  display: block;
  padding: 12px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

aside a:hover,
.menu-button:hover {
  color: var(--orange);
  background: var(--white);
  outline: none;
  position: relative;
  background-color: var(--white);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after,
.menu-button:hover:after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 var(--white);
}

aside a:hover::before,
.menu-button:hover:before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 var(--white);
}

aside p {
  margin: 0;
  padding: 40px 0;
}

/* Link replacements */

.menu-button {
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
}

/* circular progress bar */
/* Create a container using CSS properties */

.container {
  top: 30%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* Apply CSS properties to ui-widgets class */
/* .inner-bar {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 9rem;
  margin: 1.5rem;
  border: 1.2rem solid var(--orange);
  box-shadow: inset 0 0 7px grey;
  border-left-color: palegreen;
  border-top-color: chartreuse;
  border-bottom-color: white;
  text-align: center;
  box-sizing: border-box;
}
 */
/*  Apply css properties to ui-widgets class 
    and ui-values class*/
/* .inner-bar .ui-values {
  top: 40px;
  position: absolute;
  left: 10px;
  right: 0;
  font-weight: 700;
  font-size: 2rem;
} */

/*  Apply css properties to ui-widgets 
    class and ui-labels class*/
/* .inner-bar .ui-labels {
  left: 0;
  bottom: -16px;
  text-shadow: 0 0 4px grey;
  color: black;
  position: absolute;
  width: 100%;
  font-size: 16px;
} */

.progress-bar-container {
  margin: 1rem 0;
}

.progress-bar-container,
.outer-bar {
  width: 100%;
  border: 1px solid var(--mid-gray);
  border-radius: 5px;
}

.outer-bar {
  background-color: var(--white);
  height: 2rem;
  width: 100%;
  position: relative;
}

.inner-bar {
  height: 100%;
  position: absolute;
  top: 0;
  width: 0%;
  background-color: var(--aqua);
  opacity: 0.4;
}

.outer-bar p {
  width: 70%;
  margin: auto;
  text-align: center;
}
