:root {
  --white: #fff;
  --black: #181818;
  --yellow: #fdb91d;
  --orange: #fc6e45;
  --light-gray: #e9e9e9;
  --mid-gray: #ddd;
  --dark-gray: #595a5c;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 1rem 4rem;
}

.wrapper {
  width: 100%;
  background: url("../assets/images/main-background-image-2.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  background-repeat: no-repeat;
  margin: auto;
  height: 100%;
  padding: 2rem 0;
  border-radius: 8px;
}

.main-wrapper {
  width: 95%;
  height: 90vh;
  margin: auto;
  background-color: var(--white);
  display: flex;
}

.row {
  padding: 1rem;
  border-bottom: 1px solid var(--black);
}

.aside-wrapper {
  height: 100%;
  width: 17%;
}

.content-wrapper {
  width: 83%;
}

.cal-tracker {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

.date {
  font-weight: bold;
}

.tracker-section {
  width: 100%;
  display: flex;
  height: 80%;
}

.cal-report {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nutrients-report {
  width: 100%;
  display: flex;
  flex: wrap;
  padding-top: 5px;
}

.nutrients-report p {
  border: 1px solid var(--mid-gray);
  width: calc(100% / 3);
  text-align: center;
  border-radius: 3px;
}

.meal-cal-tracker {
  width: 60%;
}

.meal-cal-tracker .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.meal-cal-tracker .card {
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--orange);
  text-align: center;
}

.nutritional-goals {
  width: 100%;
  height: 20%;
  margin-top: 2rem;
}

.nutritional-goals .grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Create 5 equal columns */
  gap: 1rem; /* Space between cards */
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.nutritional-goals .card {
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--orange);
  text-align: center;
}

.nutritional-goals .column {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
}

.row-two {
  padding-top: 0;
  padding-bottom: 0;
}

.week-days {
  display: flex;
  flex-wrap: wrap;
}

.week-days .date-card {
  width: calc(100% / 7);
}

.today {
  color: var(--orange);
}

.btn-weekday {
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-weekday:hover {
  background-color: var(--orange);
  color: var(--white);
}

.consumption-log {
  width: 100%;
}

.consumption-log-row {
  display: flex;
  gap: 1rem;
}

.meal-col {
  width: calc(100% / 2);
  border: 1px solid var(--mid-gray);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.meal-col .card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted var(--dark-gray);
}

.meal-card span {
  width: 20px;
  height: 20px;
  border: solid 1px var(--orange);
  border-radius: 50%;
  background-color: #fc6e45;
  position: relative;
  color: var(--white);
}

.meal-card i {
  position: absolute;
  left: 15%;
  top: 10%;
}

.btn-add-meal {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: transparent;
}

.row-three {
  max-height: 60%;
}

.meal-log-page h2 {
  text-align: center;
}

.meal-log-page-container {
  width: 100%;
  margin: auto;
  padding-top: 1rem;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.search-container {
  display: flex;
  width: 60%;
}

.btn-search-foods {
  border: 4px solid var(--yellow);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--yellow);
  padding: 6px 1.5rem;
  cursor: pointer;
}

.btn-search-foods:hover {
  background-color: var(--white);
}

.btn-food-basket i {
  font-size: 1.75rem;
}

.btn-food-basket span {
  background-color: red;
  color: var(--white);
  padding: 1px 6px;
  border-radius: 50%;
}

.btn-food-basket {
  border: none;
  background-color: var(--white);
  cursor: pointer;
  padding-top: 5px;
}

.search-container input {
  border: 4px solid var(--yellow);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 65%;
  padding-left: 1rem;
}

.btn-search-foods i {
  width: 20px;
}

.btn-browse-all-foods-container {
  width: 25%;
  display: flex;
  justify-content: center;
}

.btn-browse-all-foods {
  padding: 6px 2rem;
  border-radius: 5px;
  border: none;
  background-color: var(--orange);
}

.btn-browse-all-foods:hover {
  background-color: var(--white);
  border: 4px solid var(--orange);
}

/* Food card */
.food-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-row {
  width: 95%;
  margin: auto;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--mid-gray);
}

.btn-log-food {
  padding: 5px 1.5rem;
  border: 1px solid var(--orange);
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.food-log-display {
  overflow-y: auto;
  max-height: 250px;
  margin-top: 1rem;
  border-top: 1px solid var(--mid-gray);
}

.scroll-wrapper {
  width: 100%;
}

.food-serving {
  padding-bottom: 0.5rem;
}

.food-calories {
  border: 1px solid var(--dark-gray);
  padding: 0 0.5rem;
  text-align: center;
  border-radius: 25px;
  background-color: var(--dark-gray);
  color: var(--white);
  width: max-content;
}
